@import 'fonts.css';

:root {
    --primaryColor: #7177f1;
    --blackColor: #323232;
    --whiteColor: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-style: normal;
    font-family: 'Montserrat';
    text-decoration: none !important;
}

.header__collapse {
    justify-content: flex-end;
}

.header__link {
    display: block;
    font-size: 24px;
    line-height: 16px;
    text-transform: capitalize;
    color: var(--primaryColor) !important;
    margin: 0 15px;
    padding: 0 !important;
}

.header__order {
    background: var(--primaryColor);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    color: var(--whiteColor) !important;
    padding: 10px 43px !important;
    margin-right: 58px;
}

.header__list {
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Trebuchet MS';
    font-weight: 700;
    color: var(--blackColor) !important;
    font-style: italic;
    font-size: 24px;
    line-height: 28px;
}

.logo__span {
    font-weight: 600;
    font-style: normal;
    color: var(--primaryColor);
}

.bars {
    display: block;
    width: 27px;
    height: 1px;
    position: relative;
    background: var(--blackColor);
    margin-right: 3px;
}

.bars::before,
.bars::after {
    content: '';
    display: block;
    background: var(--blackColor);
    height: 100%;
    position: absolute;
}

.bars::before {
    top: -7px;
    right: -3px;
    width: 18px;
}

.bars::after {
    top: 7px;
    right: 3px;
    width: 36px;
}

.bright {
    display: block;
    width: 27px;
    height: 0;
    position: relative;
    margin-left: 10px;
    box-shadow: 0 0 10px 2px rgba(113, 119, 241, 0.8);
}

.bright::before,
.bright::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background: var(--primaryColor);
    filter: blur(1px);
}

.bright::before {
    top: -7px;
}

.bright::after {
    top: 7px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--whiteColor);
    padding: 13px 0 12px;
}

.main {
    padding-top: 30px;
}

.slider__content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.slider__txt {
    max-width: 520px;
    width: 100%;
}

.slider__icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.slider__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.slider__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    text-transform: capitalize;
    color: var(--blackColor);
}

.slider__descr {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: var(--primaryColor);
    margin: 10px 0 25px;
}

.slider__link {
    display: block;
    max-width: 299px;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    text-transform: uppercase;
    color: var(--whiteColor);
    background: var(--primaryColor);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    font-size: 18px;
    margin: 0 auto;
}

.slider__name {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 15px;
    color: var(--primaryColor);
}

.slider__img {
    display: block;
    margin-left: 22px;
    max-width: 550px;
    width: 100%;
}

.carousel-indicators {
    position: static;
    margin: 50px 0 75px;
}

.carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background: #828282 !important;
    margin: 0 15px !important;
    border: none !important;
    opacity: 1 !important;
}

.carousel-indicators button.active {
    background: var(--primaryColor) !important;
}

.front__content {
    background: var(--whiteColor);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 30px;
    height: 100%;
}

.front__title {
    color: var(--primaryColor);
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    text-transform: capitalize;
}

.front__descr {
    font-size: 18px;
    line-height: 150%;
    color: var(--blackColor);
    text-transform: capitalize;
    margin: 25px 0 20px;
    padding-left: 0;
}

.front__descr li:first-child {
    margin-bottom: 33px;
}

.front__link {
    display: block;
    background: var(--primaryColor);
    border-radius: 8px;
    color: var(--whiteColor);
    padding: 14px 32px;
    text-transform: uppercase;
    margin-left: 80px;
    font-size: 18px;
    line-height: 100%;
    width: max-content;
}

.front__picture {
    position: relative;
    padding-top: 13.5px;
}

.front__img {
    display: block;
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
}

.front__abs {
    position: absolute;
    top: 24px;
    left: 0;
    padding: 24px 30px 23px 20px;
    text-transform: uppercase;
    color: var(--blackColor);
    font-size: 18px;
    line-height: 100%;
    border-radius: 8px;
    background: var(--whiteColor);
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
}

.front__five {
    position: absolute;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-style: italic;
    background: #0fdac2;
    top: -14px;
    right: -10px;
    border-radius: 50%;
}

.front {
    margin-bottom: 75px;
    position: relative;
    display: flex;
    align-items: center;
}

.bg__right {
    position: absolute;
    right: 0;
    bottom: -248px;
    z-index: -10;
}

.cap__title {
    text-align: center;
    text-transform: capitalize;
    color: var(--primaryColor);
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 30px;
    font-weight: 600;
}

.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    overflow: hidden;
}

.accordion-button {
    padding: 15px 30px;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--primaryColor);
    background: var(--whiteColor);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button span {
    display: inline-block;
    margin-left: 20px;
}

.accordion-button i {
    font-size: 30px;
}

.accordion-body {
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFF;
    background: var(--primaryColor);
    padding: 10px 30px 55px;
}

.accordion-button::after {
    background-image: none;
    width: auto;
    height: auto;
    content: '\f0d8';
    color: var(--primaryColor);
    font-family: "Font Awesome 5 Pro";
}

.accordion-button:not(.collapsed) {
    background: var(--primaryColor);
    color: #fff;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    color: #fff;
}

.accordion-item {
    position: relative;
    border: none;
}

.accordion-item::before {
    content: '';
    display: block;
    position: absolute;
    margin: 0 10px;
    background: #ddd;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1px;
    z-index: 1;
}

.accordion-item:last-child::before {
    display: none;
}

.cap__accord {
    position: relative;
}

.circle {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: -10;
    border-radius: 50%;
    border: 5px solid #9297EF;
}

.circle1 {
    top: -50px;
    left: 20px;
}

.cap__img {
    display: block;
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
}

.cap {
    margin-bottom: 75px;
}

.works .nav-pills {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    overflow: hidden;
}

.works .nav-pills .nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--primaryColor);
    padding: 19px 20px;
    border-radius: 0;
    background: var(--whiteColor);
}

.works .nav-pills .nav-link.active {
    background: var(--primaryColor);
    color: var(--whiteColor);
}

.works__content {
    display: flex;
    padding: 20px 30px 20px;
    background: var(--whiteColor);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    align-items: flex-start;
}

.works__txt {
    margin-left: 30px;
}

.works__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: var(--primaryColor);
}

.works__descr {
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: var(--blackColor);
    margin: 25px 0 20px;
    padding-left: 0;
}

.works__descr li:first-child {
    margin-bottom: 33px;
}

.works__link {
    display: block;
    margin-left: 30px;
    width: max-content;
    text-transform: capitalize;
    background: var(--primaryColor);
    color: var(--whiteColor);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 11px 62px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
}
.works{
    position: relative;
    margin-bottom: 220px;
    display: flex;
    align-items: center;
}
.bg__left{
    position: absolute;
    left: 0;
    z-index: -10;
}
.footer{
    position: relative;
    padding-bottom: 133px;
}
.footer__content{
    max-width: 630px;
    width: 100%;
    margin-left: auto;
}
.footer__content .logo{
    justify-content: center;
}
.footer__list{
    margin: 30px 0 15px;
    padding-left: 0;
}
.footer__link{
    display: block;
    margin: 0 15px;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: var(--primaryColor);
}
.footer__contacts{
    text-decoration: underline !important;
}
.circle2{
    width: 73px;
    height: 73px;
    left: 125px;
    border-color: #790FF1;
}
.circle3{
    border-color: #790FF1;
    left: 50%;
    top: -117px;
}
.cube{
    width: 99px;
    height: 99px;
    border: 5px solid var(--primaryColor);
    position: absolute;
    z-index: -10;
}
.cube1{
    right: 89px;
    align-self: flex-end;
    bottom: 30px;
    transform: rotate(45deg);
}
.circle4{
    border-color: #790FF1;
    left: 12%;
    top: -30px;
}
.cube2{
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    left: 30px;
    top: 30px;
}
.cube3{
    right: 9%;
    top: 0;
}
.cube4{
    top: 51%;
    right: 16%;
    transform: rotate(45deg);
    width: 80px;
    height: 80px;
}
body{
    background: var(--whiteColor);
}

















@media(max-width: 1540px){
  .circle4{
      width: 45px;
      height: 45px;
  }
}
@media(max-width: 1330px){
    .cube2{
        display: none;
    }
}
@media(max-width: 1200px){
    .bg__left{
        width: 100%;
    }
}

@media(max-width: 991px) {
    .header__list {
        align-items: flex-start;
    }

    .header__link {
        margin: 15px 0;
    }

    .slider__content {
        align-items: center;
    }

    .slider__img {
        margin: 0 auto;
    }

    .front__picture {
        margin-bottom: 30px;
    }

    .bg__right {
        width: 100%;
        bottom: 0;
        top: 140px;
    }

    .cap__accord {
        margin-bottom: 30px;
    }
    .works .nav-pills{
        margin-bottom: 30px;
    }
}

@media(max-width: 767px) {
    .cap__title {
        margin-bottom: 70px;
    }
    .works__content{
        flex-direction: column;
        align-items: center;
    }
    .works__txt{
        margin-left: 0;
        margin-top: 30px;
    }
    .works__link{
        margin: 0 auto;
    }
    .footer__list, .footer__elems{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__link{
        margin: 10px 0;
    }
    .cube3{
        display: none;
    }
}

@media(max-width: 550px) {
    .slider__descr {
        font-size: 32px;
        line-height: 38px;
    }

    .slider__icons {
        flex-direction: column;
        align-items: center;
    }

    .front__title {
        font-size: 36px;
        line-height: 42px;
    }

    .front__link {
        margin: 0 auto;
    }
    .cube4{
        display: none;
    }
}
@media(prefers-color-scheme: dark){
    :root {
        --blackColor: #fff;
        --whiteColor: #151437;
    }
    .header__order, .slider__link, .front__link, .works__link, .footer__link{
        color: #fff !important;
    }
    .front__abs{
        background: var(--primaryColor);
    }
    .carousel-indicators button{
        background: #fff !important;
    }
    .header .navbar-toggler{
        background-color: rgba(255, 255, 255, 0.9);
    }
}